.logo {
    width: 2em;
}

header .lt {
    display: flex;
}
h1{
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;

}
nav{
    font-size: 0.7em;
   margin: 1.3em;
}
body {
    padding: 0.5,0.7em;
}

.acceuil{
  display: flex;
  flex-wrap: wrap;
  
}
.r img{
    height: 50vh;
    width: 100%;
   
}
.l p{
    font-size: 0.8em;
}

article img {
    height: 50vh;
    width: 100%;
}

.catalogue{
    background-color: rgb(248, 233, 214);
    border: 1px solid;
    border-radius: 0.2em;
    margin-left: 42.5%;
}
h2,h3{
    text-align: center;
}

article{
    border: 1.3px solid rgb(27, 27, 27);
    margin-bottom: 2em;
    padding: 1em;
}
button.article{
    
    margin-left: 43%;
    border-radius: 0.7em;
    padding: 0.3em;
    border: 1.3px solid rgb(27, 27, 27);
    
}

.titre{
    background-image: url('../docs/demande-client/00.assets/coffees/589100954.png');
    width: 100%;
    height: 50vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;

}
.titreimg{
    padding-top: 40%;
    font-size: 5em;
    color: blanchedalmond;
    opacity: 0.75;

}

.btnall{
    margin-left: 46.2%;
    border-radius: 0.7em;
    padding: 0.3em;
    border: 1.3px solid rgb(27, 27, 27);
    margin-bottom: 2.5em;
    
}
.hidden{
    display: none;
}
.articles--open{ 
    display: block;
   
}



@media screen and (min-width:1900px){
    .acceuil{
        display: flex;
        gap: 20px;
        justify-content: flex-start;
        padding: 2em;
      }
      .r img{
        height: 100vh;
        width: 100%;
       padding-top: 8em;
       
      }
      .l{
        width: 40%;
      }
      .logo {
        width: 5em;
    }
    h1{
        font-size: 3em;
    }
    .divarticle{
        display: flex;
    }
    article{
        border: 1.3px solid rgb(27, 27, 27);
        margin: 60px;
        width: 25%;
        display: inline-block;
        
    }
    article img {
        height: 50vh;
        width: 100%;
    }
    .titre{
        background-image: url('../docs/demande-client/00.assets/coffees/589100954.png');
        width: 100%;
        height: 60vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        text-align: center;
     margin-top: 0em;
    
    }
    .titreimg{
        padding-top: 6%;
        font-size: 10em;
        color: blanchedalmond;
    
    }
    .btnall{
        margin-left: 30%;
        border-radius: 0.7em;
        padding: 0.3em;
        border: 1.3px solid rgb(27, 27, 27);
        margin-bottom: 2.5em;
        width: 50em;
    }
    
    nav{
        font-size: 1em;
       margin: 3em;
    }
   
    
   
}

@media screen and (min-width:1100px){
    .acceuil{
        display: flex;
        justify-content: flex-start;
        padding: 2em;
      }
      .r img{
        height: 75vh;
        width: 100%;
       padding-top: 8em;
       
      }
      .l {
        width: 40%;
      }
      .l p{
        font-size: 0.7em;
      }
      .logo {
        width: 5em;
    }
    h1{
        font-size: 3em;
    }
    .divarticle{
        display: flex;
    }
    article{
        border: 1.3px solid rgb(27, 27, 27);
        margin: 50px;
        width: 25%;
        display: inline-block;
        
    }
    article img {
        height: 50vh;
        width: 100%;
    }
    .titre{
        background-image: url('../docs/demande-client/00.assets/coffees/589100954.png');
        width: 100%;
        height: 60vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        text-align: center;
     margin-top: 0em;
    
    }
    .titreimg{
        padding-top: 10%;
        font-size: 10em;
        color: blanchedalmond;
    
    }
    .btnall{
        margin-left: 30%;
        border-radius: 0.7em;
        padding: 0.3em;
        border: 1.3px solid rgb(27, 27, 27);
        margin-bottom: 2.5em;
        width: 50em;
    }
    
    nav{
        font-size: 1em;
       margin: 3em;
    }
   
    
   
}