.logo {
    width: 2em;
}

header .lt {
    display: flex;
}
h1{
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;

}
nav{
    font-size: 0.7em;
   margin: 1.3em;
}
body {
    padding: 0.5,0.7em;
}

.acceuil{
  display: flex;
  flex-wrap: wrap;
  
}
.r img{
    height: 50vh;
    width: 100%;
   
}
.l p{
    font-size: 0.8em;
}

article img {
    height: 50vh;
    width: 100%;
}

.direction{
    background-color: rgb(248, 233, 214);
    border: 1px solid;
    border-radius: 0.4em;
    position: relative;
    font-size: 1em;
    left: 40%;
}
h2,h3{
    text-align: center;
}

article{
    border: 1.3px solid rgb(27, 27, 27);
    margin-bottom: 2em;
    padding: 1em;
}

button.article{
    
   position: relative;
   left: 45%;
    border-radius: 0.7em;
    padding: 0.3em;
    border: 1.3px solid rgb(27, 27, 27);
    
}


.titre{
    background-image: url('/visuals/coffees/589100954.png');
    width: 100%;
    height: 50vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;
    margin-bottom: 1em ;

}
.titreimg{
    position: relative;
    top: 2.5em;
    left: 0.2em;
    font-size: 4.2em;
    color: blanchedalmond;
    opacity: 0.75;

}

.btnall{
   position: relative;
   margin-left: 50%;
    border-radius: 0.7em;
    padding: 0.3em;
    border: 1.3px solid rgb(27, 27, 27);
    margin-bottom: 2.5em;
    color: rgb(250, 241, 230);
    background-color: grey;
    
}
.hidden{
    display: none;
}
.articles--open{ 
    display: block;
   
}
.titre2{
    background-image: url('/visuals/coffees/302932754.png');
    width: 100%;
    height: 50vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;
}

.a{
    border: 0px;
}
.a .catalogue{
    margin-left: 32%;
    border-radius: 0.5em ;
    border: solid black;
    background-color: whitesmoke;
}
main{
    background-color: lemonchiffon;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
.error{
    width: 100%;
    height: 87vh;
}
footer{
    padding: 0.5em;
    text-align: center;
    border: 1px solid gray;
   font-style: italic;
   font-size: 0.6em;
   background-color: rgb(235, 233, 233);
}

.titre3{
    background-image: url('/visuals/coffees/100955894.png');
    width: 100%;
    height: 40vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
   
}
.titreimg3{
    position: relative;
    top: 3.5em;
    left: 0.4em;
    font-size: 2.5em;
    color: rgb(145, 47, 35);
    margin-left: 15%;
    opacity: 0.8;
}

.aa{
    color: black;
    border: 1.3px solid rgb(27, 27, 27);
   margin-top: 1em;
   background-color: rgb(195, 193, 193);

}

.catalogue{
    border-radius: 0.5em ;
        border: solid black;
        background-color: whitesmoke;
        
        top: 0.8em;
        
        font-size: 1em;
}
.TD{
    font-size: 3em;
    text-align: center;
}
.r {
    width: 100%;
}
.aa img{
    width: 100%;
  
}

.aa ul{
    text-align: center;
    list-style: none;
    
}
ul {
    text-align: center;
    list-style: none;
    
}
.article2{
    position: relative;
   
    border-radius: 1em;
    font-size: 0.8em;
    border: 1.3px solid rgb(27, 27, 27);
}
.detail{
    background-color: lavenderblush;
}
.supp{
    margin-top: 1em;
}
.add{
    position: relative;
   left: 25%;
   border-radius: 3em;
   font-size: 0.8em;
   border: 1px solid black;
}


@media screen and (min-width:800px){
    .r {
        
        width: 100%;
       
    }
        
}


@media screen and (min-width:1100px){
    .acceuil{
        display: flex;
        gap: 30px;
        justify-content: flex-start;
        padding: 2em;
      }
      .r img{
        height: 100vh;
        width: 100%;
        padding-top: 8em ;
       
       
      }
      .l {
        width: 45%;
      }
      .l p{
        font-size: 0.8em;
      }
      .logo {
        width: 5em;
    }
    h1{
        font-size: 3em;
    }
    .divarticle{
        display: flex;
       align-items: stretch; 
       
    }
    
    article img {
        height: 40vh;
        width: 100%;
    }

    article{
        border: 1.3px solid rgb(27, 27, 27);
        width: 25%;
         display: inline-block;
         margin-left: 4%;
        
    }
    button.article{
        left: 42%;
    }
    
    .titre{
        background-image: url('/visuals/coffees/589100954.png');
        width: 100%;
        height: 60vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        text-align: center;
     margin-top: 0em;
    
    }
    .titreimg{
        position: relative;
        top: 1.5em;
        left: 0.2em;
        font-size: 8em;
        color: blanchedalmond;
        opacity: 0.75;
    
    }
    .btnall{
        margin-left: 30%;
        border-radius: 0.7em;
        padding: 0.3em;
        border: 1.3px solid rgb(27, 27, 27);
        margin-bottom: 2.5em;
        width: 50em;
        color: rgb(250, 241, 230);
        background-color: grey;
    }
    
    nav{
        font-size: 1em;
       margin: 3em;
    }

    .a{
       border: 0px solid black;
       
        width: 80%;
        
    }

    .a img{
        height: 60vh;
        width: 85%;
    }
    .catalogue{
        border-radius: 0.5em ;
        border: solid black;
        background-color: whitesmoke;
        position: relative;
        top: 0.8em;
        
        font-size: 1em;
        
    }
   
   ul{
    font-size: 1.2em;
    width: 90%;
   }
   
a{
    text-decoration: none;
    color: black;
}
.error{
    width: 100%;
    height: 65vh;
}
footer{
    padding: 3em;
    text-align: center;
    border: 1px solid gray;
   font-style: italic;
   background-color: rgb(235, 233, 233);
}

.titre3{
    background-image: url('/visuals/coffees/100955894.png');
    width: 100%;
    height: 60vh;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
   
}
.titreimg3{
    padding-top: 25.6%;
    font-size: 7em;
    color: rgb(145, 47, 35);
    margin-left: 25%;
    opacity: 0.8;


}
.aa{
    
    border: 1.3px solid rgb(27, 27, 27);
   margin-top: 1em;
   margin-left: 20%;
   width: 60%;
    
}

.r {
    width: 50%;
    
}
.direction{
    left: 110%;
}


}




   @media screen and (min-width:1900px){
    .acceuil{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
        padding: 2em;
      }
      .r img{
        height: 80vh;
        width: 100%;
       padding-top: 6em;
       
      }
      .l{
        width: 50%;
      }
      .logo {
        width: 5em;
    }
    h1{
        font-size: 3em;
    }
    .divarticle{
        display: flex;
    }
    article{
        border: 1.3px solid rgb(27, 27, 27);
        margin: 60px;
        width: 25%;
        display: inline-block;
        
    }
    article img {
        height: 50vh;
        width: 100%;
    }
    .titre{
        background-image: url('/visuals/coffees/589100954.png');
        width: 100%;
        height: 60vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        text-align: center;
     margin-top: 0em;
    
    }
    .titreimg{
        padding-top: 6%;
        font-size: 10em;
        color: blanchedalmond;
        opacity: 0.75;
    
    }
    .btnall{
        margin-left: 30%;
        border-radius: 0.7em;
        padding: 0.3em;
        border: 1.3px solid rgb(27, 27, 27);
        margin-bottom: 2.5em;
        width: 50em;
        color: rgb(250, 241, 230);
        background-color: grey;
    }
    
    nav{
        font-size: 1em;
       margin: 3em;
    }
    .a{
        border: 0px solid rgb(19, 3, 3);
        
         width: 80%;
         
     }
     .a img{
        height: 55vh;
        width: 65%;
    }
    li{
        font-size: 1.2em;
        padding: 0.2em;
        color: black;
       }

       main{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    .error{
        width: 100%;
        height: 65vh;
    }
    footer{
        padding: 3em;
        text-align: center;
        border: 1px solid gray;
       font-style: italic;
       background-color: rgb(235, 233, 233);
    }
    
    .titre3{
        background-image: url('/visuals/coffees/100955894.png');
        width: 100%;
        height: 70vh;
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
       
    }
    .titreimg3{
        padding-top: 25.6%;
        font-size: 7em;
        color: rgb(145, 47, 35);
        margin-left: 25%;
        opacity: 0.8;
    
    }
    .aa{
    margin-left: 20%;
        border: 1.3px solid rgb(27, 27, 27);
         
       margin-top: 1.5em;
       background-color: rgb(66, 38, 37);
        width: 50%;
        
    
    }
    .catalogue{
        margin-left: 39%;
    }
    
      

    }

    
   
