<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oCoffee</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
        <div class = lt>
            <img class = logo src="/visuals/logo.svg" alt="logo de l'entreprise" > 
            <h1>oCoffee</h1>
        </div>
        <nav class = nav><a href="/">Aceuil </a><a href="/catalogue">Catalogue </a><a href="/boutique">Boutique</a></nav>
    </header>