<%- include('./partials/header') %>

<div>
    <h1>Vous avez fait une erreur ou la page a été dérobé</h1>
    <img class="error" src ="/visuals/coffees/7866.png_1200.png" alt="erreur 404">
</div>
<%- include('./partials/footer') %>